# Sorted
--find-links https://download.pytorch.org/whl/torch_stable.html

# Learn from https://github.com/rusty1s/pytorch_geometric/blob/master/docs/requirements.txt
# Remove if switching to DGL
# cython
torch==1.4.0
torchvision==0.5.0
https://pytorch-geometric.com/whl/torch-1.4.0+cu101/torch_scatter-2.0.4-cp37-cp37m-linux_x86_64.whl
https://pytorch-geometric.com/whl/torch-1.4.0+cu101/torch_cluster-1.5.4-cp37-cp37m-linux_x86_64.whl
https://pytorch-geometric.com/whl/torch-1.4.0+cu101/torch_sparse-0.6.1-cp37-cp37m-linux_x86_64.whl
https://pytorch-geometric.com/whl/torch-1.4.0+cu101/torch_spline_conv-1.2.0-cp37-cp37m-linux_x86_64.whl

recommonmark
sphinx
sphinx-rtd-theme
nbsphinx
nbsphinx-link

scikit-learn>=0.21.2
scipy
matplotlib
networkx
pandas
# numpy
goatools
torch-geometric==1.4.2